/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Variables */

:root {
  --black: #000000;
  --white: #ffffff;
  --lighten-blue: #83b3d3;
  --light-blue: #82B3D3;
  --medium-blue: #68a2ca;
  --dark-blue: #3f5e72;
  --green: #7db54f;
  --medium-green: #6C9E42;
  --very-light-gray: #f2f2f2;
  --lighten-gray: #e6e6e6;
  --light-gray: #e5e5e5;
  --dark-gray: #333333;
  --light-red: #ff5757;
  --dark-orange: #756157;
  --darken-orange: #756257;
  --very-dark-orange: #615048;
  --box-shadow: #81b3d2;

  --bg-primary: rgba(131, 179, 211, 0.12);
  --bg-secondary: rgba(131, 179, 211, 0.2);
  --bg-modal-container: rgba(242, 242, 242, 0.8);
  --bg-modal: rgba(0, 0, 0, 0.15);
  --link-active: rgba(117, 97, 87, 0.3);
  --social-active: rgba(104, 162, 202, 0.3);
  --link-text-active: rgba(255, 255, 255, 0.3);
}

/*Global*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: var(--very-light-gray);
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  background-color: var(--white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.page-main {
  flex-grow: 1;
}

.content-container {
  width: 1060px;
  margin: 0 auto;
}

/* Pages */

.decoration-wrapper {
  color: var(--white);
  background-color: var(--dark-blue);
  background-size: cover;
}


.list {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph-custom-color {
  color: var(--dark-gray);
}

/* Buttons */

.button-default {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-info {
  background-color: var(--light-blue);
}

.button-info:hover,
.button-info:focus {
  background-color: var(--medium-blue);
}

.button-info:active {
  color: var(--link-text-active);
  background-color: var(--light-blue);
}

.button-success {
  background-color: var(--green);
}

.button-success:hover,
.button-success:focus {
  background-color: var(--medium-green);
}

.button-success:active {
  color: var(--link-text-active);
  background-color: var(--green);
}

.button-link {
  text-decoration: none;
  background-color: var(--dark-orange);
}

.button-link:hover,
.button-link:focus {
  background-color: var(--very-dark-orange);
}

.button-link:active {
  color: var(--link-text-active);
  background-color: var(--dark-orange);
}

.button:disabled {
  color: var(--white);
  background-color: var(--light-gray);
}

.button-current {
  color: var(--black);
  background-color: var(--very-light-gray);
}

/* Header */

.main-header {
  z-index: 1;
}

.header-container {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 47px;
  width: 1060px;
  margin: 0 auto -10px;
}

/* Navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-navigation-list,
.user-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-navigation-list {
  width: 530px;
}

.user-navigation-list {
  max-width: 300px;
  align-items: center;
}

.main-navigation-item {
  margin-right: 34px;
}

.main-navigation-link {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--black);
  text-decoration: none;
  padding: 20px 0 18px;
}

.main-navigation-link-current {
  border-bottom: 2px solid var(--darken-orange);
}

.main-navigation-link:hover,
.main-navigation-link:focus {
  color: var(--dark-orange);
}

.main-navigation-link:active {
  color: var(--link-active);
}

.user-navigation-link:hover .user-navigation-icon,
.user-navigation-link:focus .user-navigation-icon {
  fill: var(--dark-orange);
}

.user-navigation-link:active .user-navigation-icon {
  fill: var(--link-active);
}

.user-navigation-link {
  position: relative;
  display: block;
  min-width: 42px;
  min-height: 66px;
  text-decoration: none;
}

.user-navigation-button-link {
  min-width: 160px;
  padding: 9px 15px 8px;
  margin-left: 20px;
}

.user-navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--black);
}

.user-navigation-link-favorite::after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: attr(data-number);
  min-width: 20px;
  min-height: 20px;
  top: 15px;
  left: 24px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--green);
  font-size: 10px;
  line-height: 13px;
}

/* Promo */

.promo {
  position: relative;
  background-image: url("../images/index-background.jpg");
  padding: 51px 0 82px;
}

.promo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../images/divider.svg");
}

.promo-logo {
  display: block;
  margin: auto;
}

/* Advantages */

.advantages-inner {
  text-align: center;
  padding: 63px 0 90px;
}

.advantages-title {
  max-width: 620px;
  margin: 0 auto 31px;
}

.advantages-paragraph {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--bg-primary);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-wrapper {
  width: 400px;
  min-height: 384px;
}

.advantages-item-wrapper {
  padding: 92px 85px;
}

.advantages-item-wrapper-primary {
  display: flex;
  flex-direction: column;
  padding: 80px 85px 81px;
}

.advantages-item-wrapper-secondary {
  padding: 103px 85px 102px;
}

.advantages-icon {
  align-self: center;
  order: -1;
  fill: var(--lighten-blue);
  margin-bottom: 30px;
}

.advantages-item:first-child,
.advantages-item:nth-child(5) {
  display: flex;
  color: var(--white);
  background-color: var(--light-blue);
}

.advantages-item:nth-child(5) {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(3) {
  background-color: var(--white);
}

.advantages-item:nth-child(7) {
  background-color: var(--bg-secondary);
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantages-number,
.advantages-text {
  font-size: 18px;
  line-height: 21px;
}

.advantages-number {
  margin: 0 0 30px 0;
}

.advantages-text {
  overflow: hidden;
  margin: 0;
}

.advantages-text-custom-color {
  color: var(--dark-gray);
}

.advantages-image {
  object-fit: cover;
}

/* Search */

.search-inner {
  text-align: center;
  padding: 91px 0 93px;
  margin: 0 29px;
}

.search-title {
  margin: 0 auto 29px;
}

.search-paragraph {
  margin: 0 auto 56px;
}

.search-button {
  min-width: 574px;
  padding: 12px 15px;
}

/* Newsletter */

.newsletter {
  padding: 94px 0 94px;
}

.newsletter-background {
  background-image: url("../images/newsletter-background.jpg");
}

.newsletter-inner {
  text-align: center;
}

.newsletter-title {
  margin: 0 0 29px;
}

.newsletter-paragraph {
  margin: 0 0 46px;
}

.newsletter-input-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.newsletter-input {
  flex-grow: 1;
  min-width: 600px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.15);
  background-color: var(--very-light-gray);
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 20px 22px 19px;
}

.newsletter-button {
  min-width: 200px;
  border-radius: 0 10px 10px 0;
  padding: 12px 15px;
}

/* Contacts */

.contacts {
  display: flex;
  padding: 45px 0 35px;
}

.contacts-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto 0 0;
}

.contacts-social-link {
  position: relative;
  display: block;
  min-width: 48px;
  min-height: 40px;
}

.contacts-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--lighten-blue);
}

.contacts-social-link:hover .contacts-social-icon,
.contacts-social-link:focus .contacts-social-icon {
  fill: var(--medium-blue);
}

.contacts-social-link:active .contacts-social-icon {
  fill: var(--social-active);
}

.contacts-copyright-link {
  position: relative;
  display: block;
  width: 115px;
  margin-left: auto;
}

.contacts-copyright-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--black);
}

.contacts-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-phone-link:hover,
.contacts-phone-link:focus {
  color: var(--dark-orange);
}

.contacts-phone-link:active {
  color: var(--link-active);
}

.contacts-copyright-link:hover .contacts-copyright-icon,
.contacts-copyright-link:focus .contacts-copyright-icon {
  fill: var(--dark-orange);
}

.contacts-copyright-link:active .contacts-copyright-icon {
  fill: var(--link-active);
}

/* Catalog page */

.inner-header {
  margin-bottom: 40px;
}

.inner-header-wrapper {
  background-image: url("../images/filter-background.jpg");
  padding: 35px 0 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 10px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs-item + .breadcrumbs-item {
  padding-left: 16px;
  background-image: url("../images/icon-breadcrumps-tick.svg");
  background-repeat: no-repeat;
  background-size: 6px 9px;
  background-position: left center;
  margin-left: 10px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link[href]:hover {
  color: var(--white);
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  color: var(--white);
  opacity: 0.3;
}

.breadcrumbs-link-home {
  position: relative;
  display: block;
  width: 12px;
  height: 21px;
}

.breadcrumbs-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--white);
}

.breadcrumbs-link-home:hover .breadcrumbs-link-icon {
  fill: var(--white);
  opacity: 0.6;
}

.breadcrumbs-link-home:active .breadcrumbs-link-icon {
  fill: var(--white);
  opacity: 0.3;
}

/* Catalog filter */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 176px;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin-bottom: 30px;
}

.catalog-filter-title-bottom {
  margin-bottom: 34px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-submit {
  min-width: 160px;
  padding: 14px 15px;
  margin-bottom: 20px;
}

.catalog-filter-reset {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

/* Control */

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border-radius: 4px;
}

.control-checkbox:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-checkbox:focus .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid var(--lighten-blue);
}

.control-checkbox:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:disabled + .control-mark {
  background-color: var(--dark-gray);
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  content: "";
  background-image: url("../images/icon-tick.svg");
}

/* Radio */

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  content: "";
}

.control-radio:focus .control-mark {
  outline: 3px solid var(--lighten-blue);
}


/* Range */

.range-form-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.range-label {
  position: relative;
}

.range-input {
  width: 146px;
  padding: 12px 0 11px 17px;
  font: inherit;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  appearance: textfield;
  cursor: pointer;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
  margin-left: -2px;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:focus {
  border-color: var(--white);
  box-shadow: 0 0 0 3px var(--box-shadow) inset;
  outline: 3px solid var(--box-shadow);
}

.range-input:active {
  border-color: var(--white);
  background-color: var(--darken-orange)
}

.range-span {
  position: absolute;
  top: 12px;
  right: 16px;
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: var(--link-text-active);
  border-radius: 2px;
  width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--white);
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid var(--lighten-blue);
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid var(--lighten-blue);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

/* Select */

.select {
  position: relative;
  display: flex;
  width: 290px;
  margin-right: 79px;
}

.select-control {
  width: 100%;
  padding: 13px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-gray);
  border: 2px solid var(--light-gray);
  border-radius: 4px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  border-color: var(--medium-blue);
}

.select-control:active {
  border-color: var(--dark-blue);
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

/* Sorting */

.sorting {
  padding: 55px 0 25px;
  margin-left: 73px;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.sorting-result {
  margin: 0 190px 0 0;
}

.sorting-toggler-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: baseline;
  width: 160px;
}

.sorting-toggler {
  position: relative;
  width: 48px;
  height: 48px;
  border: 2px solid var(--light-gray);
  border-radius: 4px;
}

.sorting-toggler-current,
.sorting-toggler:hover {
  border-color: var(--black);
}

.sorting-toggler:focus {
  border-color: var(--medium-blue);
  outline: none;
}

.sorting-toggler:active {
  border-color: var(--black);
}

.sorting-toggler-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: var(--black);
}

.sorting-form,
.sorting-cards-amount {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-gray);
}

.sorting-cards-amount {
  min-width: 165px;
  border: 2px solid var(--light-gray);
  border-radius: 4px;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right 22px center;
  padding: 13px 20px;
  appearance: none;
  cursor: pointer;
}

.sorting-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.sorting-form-label {
  margin-right: 51px;
}

.sorting-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 63px 0;
}

/* Card */

.card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-areas: "image image"
                       "title title"
                       "type price"
                       "more favorite"
                       "star raiting";
  gap: 16px 20px;
  font-size: 18px;
  line-height: 21px;
  color: var(--dark-gray);
  padding: 20px;
}

.card-image-link {
  grid-area: image;
}

.card-image {
  display: block;
}

.card-subtitle-link {
  text-decoration: none;
  grid-area: title;
  justify-self: start;
}

.card-subtitle {
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  margin: 0;
}

.card-type {
  grid-area: type;
  margin: 0;
}

.card-price {
  grid-area: price;
  margin: 0;
}

.card-button-more,
.card-button-favorite {
  padding: 9px 15px 8px;
}

.card-button-more {
  grid-area: more;
}

.card-button-favorite {
  grid-area: favorite;
}

.card-star {
  align-self: center;
  margin: 0;
  grid-area: star;
}

.card-star-icon {
  fill: var(--lighten-blue);
}

.card-star-icon + .card-star-icon {
  margin-left: 2px;
}

.card-raiting {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--very-light-gray);
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  margin: 0;
  grid-area: raiting;
}

/* Pagination */

.pagination-wrapper {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--lighten-gray);
  padding-top: 30px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  min-width: 60px;
  text-decoration: none;
  padding: 12px 19px;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--bg-modal-container);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 70px;
  background-color: var(--white);
  box-shadow: 0 25px 50px var(--bg-modal);
  border-radius: 30px;
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  height: 53px;
  width: 53px;
  border: none;
  border-radius: 50%;
  background-color: var(--very-light-gray);
  background-image: url("../images/icon-modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 63px 0;
}

.modal-form-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.modal-form-group-current-margin {
  margin-right: 56px;
}

.modal-form-group-wrapper {
  display: flex;
  justify-content: space-between;
}

.modal-form-label {
  font-weight: 700;
  font-size: 20px;
}

.modal-form-label-current-margin {
  margin-right: 64px;
}

.modal-form-label-icon {
  position: relative;
  padding-right: 25px;
  margin-right: 24px;
}

.modal-form-input[type=text] {
  width: 420px;
  padding: 14px 20px;
  font-family:inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  background-color: var(--very-light-gray);
  background-image: url(../images/icon-date.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: none;
  border-radius: 4px;
  appearance: none;
}

.modal-form-input[type=number] {
  font-family:inherit;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  width: 133px;
  background-color: var(--very-light-gray);
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  appearance: none;
}

.modal-form-input[type=text]::-webkit-outer-spin-button,
.modal-form-input[type=text]::-webkit-inner-spin-button,
.modal-form-input[type=number]::-webkit-outer-spin-button,
.modal-form-input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-form-input[type=text]:hover,
.modal-form-input[type=number]:hover {
  background-color: var(--lighten-gray);
}

.modal-form-input[type=text]:focus,
.modal-form-input[type=number]:focus {
  background-color: var(--lighten-gray);
  outline: 3px solid var(--lighten-blue);
}

.modal-message {
  position: absolute;
  top: 58px;
  left: 155px;
  font-size: 16px;
  line-height: 21px;
}

.modal-error {
  color: var(--light-red);
}

.modal-success {
  color: var(--dark-gray);
}

.modal-form-box {
  position: relative;
  display: flex;
}

.modal-form-quantity {
  position: absolute;
  display: flex;
  align-self: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal-form-quantity-minus {
  left: 12px;
}
.modal-form-quantity-plus {
  right: 12px;
}

.modal-form-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-button {
  min-width: 575px;
  border-radius: 10px;
  padding: 12px 26px;
}

/* Tooltip */

.tooltip {
  position: absolute;
  margin-top: 2px;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  display: block;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: var(--lighten-blue);
  background-image: url(../images/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1px 9px;
  padding: 0;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--white);
  background-color: var(--dark-gray);
  border-radius: 10px;
}

.tooltip-toggle:hover {
  background-color: var(--medium-blue);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
